{% extends "navbar.html" %}

{% block content %}

<div class="container-fluid m-2">
    <div class="card">
      <div class="card-header fixed-top mt-5">
          <div class="d-flex align-center justify-content-center">
              <h1 class="">Select services</h1>
          </div>
          <div class="spinner" id="spinner">
              <div class="dot1"></div>
              <div class="dot2"></div>
          </div>
          <div class="selected-services mt-3 mb-3 d-flex flex-wrap d-none"></div>
      </div>
    </div>
    <div class="fab-container">
      <button class="btn btn-primary fab" onclick="getRecommendation()">Go</button>
    </div>

    {% for i in range(0, services | count, 9) %}
    <ul class="honeycomb">
      {% for j in range(i, i + 9) %}
        {% if j < services | count %}
          <li class="honeycomb-cell" onclick="selectService(this)">
            <div class="info-icon" onclick="flipCard(event, this)">
              <i class="fas fa-info-circle"></i>
            </div>
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="image-container">
                  <img class="img-fluid" src="{{url_for('static', filename='images/' + services[j] + '.png')}}">
                </div>
                <div class="honeycomb-cell__title">{{services[j]}}</div>
              </div>
              <div class="flip-card-back">
                <div class="description">
                  {{services_dict[services[j]]['desc']}}
                </div>
              </div>
            </div>
          </li>
          {% if j == i + 4 or j == i + 8 %}
            </ul>
            {% if j < i + 8 and j < services | count - 1 %}
              <ul class="honeycomb">
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
  

    <!-- Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Recommended Hospitals</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="hospitalDataContainer">
                    Selected values have been successfully sent.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}