{% extends "navbar.html" %}

{% block content %}

<div class="container-fluid m-2">
    <div class="card">
        <div class="card-header sticky-top">
            <div class="d-flex align-center justify-content-center">
                <h1 class="">Select services</h1>
            </div>
            <div class="spinner" id="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
            <div class="selected-services mt-3 mb-3 d-flex flex-wrap d-none"></div>
        </div>
    </div>
    <div class="fab-container">
      <button class="btn btn-primary fab" onclick="getRecommendation()">Go</button>
    </div>

    {% for i in range(services | count) %}
      {% if i < 5 %}
        {% if i == 0 %}
          <ul class="honeycomb">
        {% endif %}
        <li class="honeycomb-cell" onclick="selectService(this)">
          <div class="info-icon" onclick="flipCard(event, this)">
            <i class="fas fa-info-circle"></i>
          </div>
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="image-container">
                <img class="img-fluid" src="{{url_for('static', filename='images/dental-care.png')}}">
              </div>
              <div class="honeycomb-cell__title">{{services[i]}}</div>
            </div>
            <div class="flip-card-back">
              <div class="description">
                {{services_dict[services[i]]['desc']}} <!-- This will be the description to show on flip -->
              </div>
            </div>
          </div>
        </li>
        {% if i == 4 %}
          </ul>
        {% endif %}

      {% elif i >= 5 and i < 9 %}
        {% if i == 5 %}
          <ul class="honeycomb">
        {% endif %}
        <li class="honeycomb-cell" onclick="selectService(this)">
          <div class="info-icon" onclick="flipCard(event, this)">
            <i class="fas fa-info-circle"></i>
          </div>
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="image-container">
                <img class="img-fluid" src="{{url_for('static', filename='images/dental-care.png')}}">
              </div>
              <div class="honeycomb-cell__title">{{services[i]}}</div>
            </div>
            <div class="flip-card-back">
              <div class="description">
                {{services_dict[services[i]]['desc']}} <!-- This will be the description to show on flip -->
              </div>
            </div>
          </div>
        </li>
        
        
        {% if i == 8 %}
          </ul>
        {% endif %} 
      
      {% elif i >= 9 and i <= 13 %}
        {% if i == 9 %}
          <ul class="honeycomb">
        {% endif %}
        <li class="honeycomb-cell" onclick="selectService(this)">
          <div class="info-icon" onclick="flipCard(event, this)">
            <i class="fas fa-info-circle"></i>
          </div>
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="image-container">
                <img class="img-fluid" src="{{url_for('static', filename='images/dental-care.png')}}">
              </div>
              <div class="honeycomb-cell__title">{{services[i]}}</div>
            </div>
            <div class="flip-card-back">
              <div class="description">
                {{services_dict[services[i]]['desc']}} <!-- This will be the description to show on flip -->
              </div>
            </div>
          </div>
        </li>
        {% if i == 13 %}
          </ul>
        {% endif %}
      
      {% elif i >= 14 and i <= 17 %}
        {% if i == 14 %}
          <ul class="honeycomb">
        {% endif %}
        <li class="honeycomb-cell" onclick="selectService(this)">
          <div class="info-icon" onclick="flipCard(event, this)">
            <i class="fas fa-info-circle"></i>
          </div>
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="image-container">
                <img class="img-fluid" src="{{url_for('static', filename='images/dental-care.png')}}">
              </div>
              <div class="honeycomb-cell__title">{{services[i]}}</div>
            </div>
            <div class="flip-card-back">
              <div class="description">
                {{services_dict[services[i]]['desc']}} <!-- This will be the description to show on flip -->
              </div>
            </div>
          </div>
        </li>
        {% if i == 17 %}
          </ul>
        {% endif %}

      {% elif i >= 18 and i <= 22 %}
        {% if i == 18 %}
          <ul class="honeycomb">
        {% endif %}
        <li class="honeycomb-cell" onclick="selectService(this)">
          <div class="info-icon" onclick="flipCard(event, this)">
            <i class="fas fa-info-circle"></i>
          </div>
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="image-container">
                <img class="img-fluid" src="{{url_for('static', filename='images/dental-care.png')}}">
              </div>
              <div class="honeycomb-cell__title">{{services[i]}}</div>
            </div>
            <div class="flip-card-back">
              <div class="description">
                {{services_dict[services[i]]['desc']}} <!-- This will be the description to show on flip -->
              </div>
            </div>
          </div>
        </li>
        {% if i == 22 %}
          </ul>
        {% endif %} 
        
      {% else %}
      {% if i == 23 %}
          <ul class="honeycomb">
        {% endif %}
        <li class="honeycomb-cell" onclick="selectService(this)">
          <div class="info-icon" onclick="flipCard(event, this)">
            <i class="fas fa-info-circle"></i>
          </div>
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="image-container">
                <img class="img-fluid" src="{{url_for('static', filename='images/dental-care.png')}}">
              </div>
              <div class="honeycomb-cell__title">{{services[i]}}</div>
            </div>
            <div class="flip-card-back">
              <div class="description">
                {{services_dict[services[i]]['desc']}} <!-- This will be the description to show on flip -->
              </div>
            </div>
          </div>
        </li>
        {% if i == 26 %}
          </ul>
        {% endif %} 
      {% endif %}
      
    {% endfor %}

    <!-- Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Recommended Hospitals</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="hospitalDataContainer">
                    Selected values have been successfully sent.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}