{% extends "navbar.html" %}

{% block content %}

<div class="container">
    {% if message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    
    <h1 class="hospital-header inline-block">Review Data</h1>
    <a href="{{url_for('show_data')}}" class="btn btn-primary">Back</a>
    
    <div style="max-width: 150%; overflow: scroll;">
        <table class="table table-striped overflow-scroll">
            <thead>
                <tr>
                    <th>Hospital Name</th>
                    <th>Rating</th>
                    <th>Care System</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Services</th>
                    <th>Location</th>
                    <th>Payment</th>
                    <th>Phone</th>
                    <th>Website link</th>
                    <th>Hospital Id</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(hospitals | count) %}
                    <tr>
                        <td>{{hospitals.loc[i]["facility_name"]}}</td>
                        <td>{{hospitals.loc[i]['rating']}}</td>
                        <td>{{hospitals.loc[i]['care_system']}}</td>
                        <td>{{hospitals.loc[i]['longitude']}}</td>
                        <td>{{hospitals.loc[i]['longitude']}}</td>
                        <td>{{hospitals.loc[i]['cleaned services']}}</td>
                        <td>{{hospitals.loc[i]['Subcounty']}}</td>
                        <td>{{hospitals.loc[i]['mode of payment']}}</td>
                        <td>{{hospitals.loc[i]['phone_number']}}</td>
                        <td>{{hospitals.loc[i]['website']}}</td>
                        <td>
                            {{hospitals.loc[i]['hospital Id']}}
                        </td>
                        <td>
                            <form action="{{ url_for('review_data') }}" method="post">
                                <input type="hidden" name="hospital_id" value="{{i}}">
                                <button type="submit" class="btn btn-success" name="Action" value = "approve">Approve</button>
                                <button type="submit" class="btn btn-danger" name="Action" value = "decline">Decline</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
           
    <div class="d-flex justify-content-center mt-5">
        <form method="post" action="{{url_for('add_image')}}" enctype="multipart/form-data" class="col-6">
            <h3 class="text-center">Add Service Image</h3>
            <div class="form-group">
                <label for="newServiceName">Service Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="service_name" placeholder="Enter service name" required>
            </div>
            <div class="form-group">
                <label for="description">Service Description <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="description" placeholder="Enter service description" required>
            </div>
            <div>
                <label for="formFileLg" class="form-label">Upload Service Image</label>
                <input class="form-control form-control-lg" name="file" id="formFileLg" type="file" accept="image/*">
            </div>

            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
    
</div>

{% endblock %}
