{% extends "navbar.html" %}

{% block content %}

<div class="container">
    {% if authenticated == False %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        You must be logged in to view this page.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% else %}
            {% if message %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            
            <h1 class="hospital-header inline-block">Hospital Data</h1>
            <a href="{{ url_for('record_data') }}" class="btn btn-primary inline-block">Add</a>
            {% if is_admin %}
                <a href="{{ url_for('review_data') }}" class="btn btn-success inline-block">Review Contributions</a>
            {% endif %}
            <form action="{{ url_for('show_data') }}" method="get" class="filter-container mt-3 col-5">
                <label for="range">Select Range Value : <br><small>total health care facilities = {{data_len}}</small></label>
                <select id="range" name="start">
                    {% for i in range(0, data_len, 50) %}
                        <option value="{{ i }}" {% if i == start | int %} selected {% endif %}>
                            {{ i }} - {{ i + 50 }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary ms-2">Filter</button>
            </form>
        
            <div style="max-width: 150%; overflow: scroll;">
                <table class="table table-striped overflow-scroll">
                    <thead>
                        <tr class="font-weight-bold">
                            <th><strong>#</strong></th>
                            <th>Hospital Name</th>
                            <th>Rating</th>
                            <th>Care System</th>
                            <th>Services</th>
                            <th>Location</th>
                            <th>Payment</th>
                            <th>Phone</th>
                            <th>Website link</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hospital in hospitals %}
    
                            <tr>
                                <td> <strong>{{hospital['hospital Id']}}</strong></td>
                                <td>{{hospital["facility_name"]}}</td>
                                <td>{{hospital['rating']}}</td>
                                <td>{{hospital['care_system']}}</td>
                                <td>{{hospital['cleaned services']}}</td>
                                <td>{{hospital['Subcounty']}}</td>
                                <td>{{hospital['mode of payment']}}</td>
                                <td>{{hospital['phone_number']}}</td>
                                <td>{{hospital['website']}}</td>
                                <td>
                                    <form action="{{ url_for('edit_hospital') }}" method="post">
                                        <input type="hidden" name="hospital_id" value="{{hospital['hospital Id'] - 1}}">
                                        <button type="submit" class="btn btn-primary" name="delete">Edit</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
           
    {% endif %}
</div>

{% endblock %}
